<html>

    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>

    <body>
        <div id="mainContainer">

            <nav class="navbar bg-primary shadow" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        Contact List
                    </a>
                </div>
            </nav>

            <main class="contactList">

                <div class="inputForm bg-primary-subtle rounded shadow h-100">

                    <h1 class="text-center">Enter Details</h1>

                    <!-- to get user data  -->
                    <form action="/create" method="post">

                        <!-- for name and phone -->
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone No.</label>
                            <input type="number" name="number" class="form-control" id="phone" placeholder="Enter Phone no.">
                        </div>
        
                        <button type="submit" class="btn btn-primary">Add Contact</button>
                    </form>
                </div>

                <div class="listContainer h-100 bg-primary-subtle rounded shadow d-flex flex-column">
                    
                    <div>
                        <nav class="navbar bg-body-tertiary rounded">
                            <div class="container-fluid">
                                <span class="navbar-brand mb-0 h1">Your Contact list</span>
                            </div>
                        </nav>
                    </div>

                    <div>
                        <ul id="list">
                            <% for (let i of contact_list) { %>
                            <li class="list_item">
                                <div class="contact_detail">
                                    <span><%= i.name %></span>
                                    <span><%= i.number %></span>
                                </div>
                                
            
            
                                <div class="delete_icon">
                                    <!-- query parem to return value of number  -->
                                    <a href="/delete-contact/?id=<%=i._id%>">  
                                        <i class="fa-regular fa-trash"></i>
                                    </a>
                                </div>
                            </li>
                            
                            <% } %>
                        </ul>    
                    </div>

                        
                </div>

            </main>

        </div>
        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script type="text/javascript" src=""></script>
    </body>
</html>